# Build priečinky
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.moc
*.qrc.dep
__cmake_systeminformation/

# Qt špecifické dočasné súbory
*.pro.user
*.qmake.stash

# Binárky
*.o
*.so
*.dll
*.exe
*.a

# Databázové súbory (ak generuješ lokálnu testovaciu DB)
*.db
*.sqlite

# Logy a cache
*.log
*.cache

